[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anandanvivopenstack
[access "refs/for/refs/*"]
	read = group user/anandanvivopenstack
	push = group user/anandanvivopenstack
	label-Code-Review = -2..+2 group user/anandanvivopenstack
	label-Verified = -1..+1 group user/anandanvivopenstack
	rebase = group user/anandanvivopenstack
	removeReviewer = group user/anandanvivopenstack
	submit = group user/anandanvivopenstack
[access "refs/heads/*"]
	read = group user/anandanvivopenstack
	create = group user/anandanvivopenstack
	push = +force group user/anandanvivopenstack
	pushMerge = group user/anandanvivopenstack
[access "refs/tags/*"]
	push = +force group user/anandanvivopenstack
	pushTag = group user/anandanvivopenstack
	pushSignedTag = group user/anandanvivopenstack
